/* 1. La nueva forma de importar Tailwind en v4 */
@import "tailwindcss";

/* 2. Tu sistema de diseño (Lo que antes iba en tailwind.config.js) */
@theme {
  /* Paleta de Colores */
    --color-primary: #163d3d;
    --color-primary-esmeralda: #2cb18f;
    
    --color-surface: #f8fafa;
    --color-on-surface: #191c1d;
    --color-secondary: #596060;
    --color-outline-variant: #c0c8c7;

    --color-surface-container-low: #f8fafc;
    --color-surface-container-high: #e2e8f0;

    /* Medidas Personalizadas (Spacing) */
    --spacing-300px: 300px;
    --spacing-350px: 350px;
    --spacing-400px: 400px;
    --spacing-450px: 450px;
    --spacing-500px: 500px;
    --spacing-550px: 550px;
    --spacing-700px: 700px;
    --spacing-1440px: 1440px;
}

/* Ocultar barra de scroll en Chrome, Safari y Opera */
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}
/* Ocultar barra de scroll en IE, Edge y Firefox */
.hide-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
