PORT=1433

JWT_SECRET=clave_secreta_para_firmar_tokens_jwt
INTERNAL_API_KEY=api_key_secreta_para_comunicacion_interna

# CREDENCIALES DE AZURE
DB_USER=Pruebas
DB_PASSWORD=Prue12345
DB_SERVER=modaglobalserver.database.windows.net
DB_NAME=modaglobal_usuarios

# CREDENCIALES EN AZURE SERVICE BUS
AZURE_SERVICEBUS_CONNECTION_STRING= credenciales_de_conexion_a_azure_service_bus