PORT=puerto_de_productoservice

JWT_SECRET=clave_secreta_para_firmar_tokens_jwt
INTERNAL_API_KEY=api_key_secreta_para_comunicacion_interna

# CREDENCIALES DE AZURE
DB_USER=usuario_de_base_de_datos_en_azure
DB_PASSWORD=contraseña_de_base_de_datos_en_azure
DB_SERVER=servidor_de_base_de_datos_en_azure
DB_NAME=base_de_datos_en_azure

# CREDENCIALES EN AZURE SERVICE BUS
AZURE_SERVICEBUS_CONNECTION_STRING= credenciales_de_conexion_a_azure_service_bus