PORT=puerto_de_ventasservice

JWT_SECRET=clave_secreta_para_firmar_tokens_jwt
INTERNAL_API_KEY=api_key_secreta_para_comunicacion_interna

# CREDENCIALES DE AZURE
DB_USER=usuario_de_base_de_datos_en_azure
DB_PASSWORD=contraseña_de_base_de_datos_en_azure
DB_SERVER=servidor_de_base_de_datos_en_azure
DB_NAME=base_de_datos_en_azure

# CREDENCIALES DE SERVICE BUS
AZURE_SERVICEBUS_CONNECTION_STRING= cadena_de_conexion_a_service_bus

# URL EN AZURE SQL DATABASE
DATABASE_URL= URL_de_conexion_a_azure_sql_database

# Variables de Negocio
IVA_PORCENTAJE= porcentaje_de_iva_aplicable

# CREDENCIALES DE OPENPAY
OPENPAY_ID= id_de_openpay
OPENPAY_PRIVATE_KEY= private_key_de_openpay